{% extends "layout.html" %}

{% block title %}
    Estadisticas 
{% endblock %}

{% block content %}
    <div class="buscar">
        <form action="/api" method="POST">
            <input type="buscar" class="form-control" name="buscar" placeholder="Ingrese el nombre del Hotel">
            <button class="btn btn-dark mx-3" type="submit">Buscar</button>
        </form>
    </div>
    <div class="container mt-3">
        <div class="row">
            {% if data %}
                {% for item in data %}
                    <div class="col-12 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                {% for key, value in item.items() %}
                                    {% if key != 'localizacion' %}
                                        {% if key == 'nombre' %}
                                            <p><strong>{{ key|capitalize }}:</strong> {{ value.upper() }}</p>
                                        {% else %}
                                            <p><strong>{{ key|capitalize }}:</strong> {{ value }}</p>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
