* {
    margin: 0;
    padding: 0;
    font-family: "Dancing Script", cursive;
}

.c-item{
    height: 700px;
}

.c-image{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  
.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }

body{
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
}

.buscar{
    position: relative;
    margin-top: 8%;
    max-width: 50%;
    margin-left: 30%;
    
}
.btn-buscar
{
    position: relative;
    margin-left: 50%;
}

