* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.c-item{
    height: 700px;
}

.c-image{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  
.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
